body {
	font-size:11pt;	
}
table.gridtable {
	font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}

form{
		border:1px solid #ccc;
		width:520px;padding:10px; margin:auto;
		line-height:30px;
}
form input[type=text]{ width:500px; height:34px;padding-left:8px;}